<!DOCTYPE html>
<html html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8" />
	<title>Spring Boot + JPA + Datatables</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="../hanggota/anggota.js"></script>
</head>

<body>
	<h1>Table Anggota</h1>
	<table id="tableanggota" class="display">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>Id</th>
				<th>Nama</th>
                <th>Alamat</th>
                <th>Nomor Telepon</th>
                <th>Action</th>
            </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
            <tr>
                 <th>Id</th>
				<th>Nama</th>
                <th>Alamat</th>
                <th>Nomor Telepon</th>
				<th>Action</th>
                
            </tr>
        </tfoot>
    </table>
    
     <div class="container">
   		<h2>Edit/Add</h2>
        <!-- Kotak untuk setiap textbox -->
        <div class="row">
            <div class="col-md-2">
                <label for="idTextbox">Id:</label>
                <input type="text" id="idTextbox" disabled />
            </div>
            <div class="col-md-2">
                <label for="judulTextbox">Nama:</label>
                <input type="text" id="namaTextbox" />
            </div>
            <div class="col-md-2">
                <label for="penulisTextbox">Alamat:</label>
                <input type="text" id="alamatTextbox" />
            </div>
            <div class="col-md-2">
                <label for="penerbitTextbox">Nomor Telepon:</label>
                <input type="text" id="noTelpTextbox" />
            </div>
            
            <div class="row">
            <div class="col-md-2">
                <button id="submitBtn" class="btn btn-primary">Submit</button>
            </div>
        </div>
        </div>
    </div>
    
    
    
</body>
</html>